---
import { Image } from "astro:assets";
import ETCLogo from "@images/ETC-logo.svg";
import { getLangFromUrl, useTranslations } from "@I18n/utils";
import { navigate } from "astro:transitions/client";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type NavItem = {
  href: string;
  text: string;
};

const navItems: NavItem[] = [
  { href: `/${lang}/index`, text: "" },
  { href: `/${lang}/about`, text: "nav.about" },
  { href: `/${lang}/services`, text: "nav.services" },
  { href: `/${lang}/contact`, text: "nav.contact" },
  { href: `/${lang}/etcheck`, text: "nav.etcheck" },
];

console.log(navItems);
---

<header class="bg-white shadow-md">
  <nav class="container mx-auto px-4 py-4">
    <div class="flex justify-between items-center">
      <a href=`/${lang}/`>
        <Image
          src={ETCLogo}
          alt="Ecotermcomplex"
          id="etc-logo__header"
          class="w-32"
        />
      </a>
      <div class="flex items-center gap-8">
        <ul class="flex gap-6">
          {
            navItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class="text-gray-600 hover:text-etc-500 transition-colors"
                >
                  {t(item.text)}
                </a>
              </li>
            ))
          }
        </ul>
        <slot />
      </div>
    </div>
  </nav>
</header>
